.about-banner{
    display: flex;
    align-items: center;
}
.banner-color{
    background-color:#eefbf3 ;
}

.main-about{
    display: flex;
    align-items: center;
}

.about-text{
    text-align: justify;
    
}