.contact-banner{
    display: flex;
    align-items: center;
}
.contact-color{
    background-color: #eefbf3;
}

.contact-box{
    display: flex;
    align-items: center;
}
.contact-address{
    background-color: #e7f8ee;
}